################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects
/Calculator-Knowledge Check Software Dev. 1
/desktop.ini
/Links(1).txt
/PowerChute Personal Edition.lnk
/front-end-template-master
/Stuff
